Flask
Flask-Session
cs50



Use it in debuggin mod
https://flask.palletsprojects.com/en/2.3.x/debugging/
flask --app app run --debug



Sources

https://favicon.io/

https://getbootstrap.com/docs/4.0/components/buttons/






CREATE TABLE users(
    user_id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    username TEXT NOT NULL,
    hash TEXT NOT NULL
)
CREATE UNIQUE INDEX user_id ON users (username)


CREATE TABLE categories (
user_id INTEGER NOT NULL,
    category_id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    category_name VARCHAR(255) NOT NULL,
FOREIGN KEY (user_id) REFERENCES users(user_id)
)
CREATE UNIQUE INDEX category_id ON categories (category_id)


CREATE TABLE items (
user_id INTEGER NOT NULL,
    item_id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
    category_id INT,
    item_name VARCHAR(255) NOT NULL,
    item_note TEXT,
FOREIGN KEY (user_id) REFERENCES users(user_id),
    FOREIGN KEY (category_id) REFERENCES categories(category_id)
 )
