{% extends "layout.html" %}

{% block title %}
    Add
{% endblock %}

{% block main %}
    <form action="/add" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="category_name" name="category_name" placeholder="New category" type="text">
        </div>
        <div class="error-message">
            {% block error %}
            {{ message }}
            {% endblock %}
         </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}