{% extends "layout.html" %}

{% block title %}
    Delete Item
{% endblock %}

{% block main %}

<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Category Name</th>
            <th class="text-start">Delete Category</th>
        </tr>
    </thead>
   <tbody>
            {% for row in rows %}

            <tr>
                <td class="text-start">{{ row.category_name }}</td>
                <td class="text-start">
                    <form method="post" action="/delete_category">
                        <button class="btn btn-danger btn-sm" type="submit" name="category_id" value="{{ row.category_id }}">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}
