{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<table class="table table-striped">
    <thead>
        <tr>
            <th class="text-start">Item Name</th>
            <th class="text-start">Item Note</th>
        </tr>
    </thead>
   <tbody>
            {% for row in rows %}
            <tr>
                <td class="text-start">{{ row.item_name }}</td>
                <td class="text-start">{{ row.item_note }}</td>
            </tr>
            {% endfor %}
    </tbody>
</table>
{% endblock %}
