{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}



{% block main %}

<form action="/register" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username"  name="username" placeholder="Username" type="text" required>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password" required>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Password (again)" type="password" required>
    </div>
    <div class="error-message">
        {% block error %}
        {{ message }}
        {% endblock %}
     </div>
   
    <button class="btn btn-outline-dark" type="submit">Create your <span class="yellow">My</span><span class="green">Library</span> account</button>
</form>


{% endblock %}
